[2015-07-22 14:03] hpoit opened #16 "Are there other APIs necessary to define any other driver's API?"
Hi Chris and Jesse,

Thanks for the awesome work you guys put up here.

I'm a novice... Are there any other APIs beside the CRUD for whose specs I would have to build in the case of a Julia wrapper?

Thanks! Best, Kevin

[2015-07-22 14:16] hpoit opened #17 "Typo"
Hay doods,

I think you're missing 'install' here

'Before installing mongorover, both the MongoDB C Driver and the libbson library .''

from https://github.com/10gen-labs/mongorover#installation

[2015-07-22 15:02] tenthdimension commented on #16
Hey Chris and Jesse,

Does this answer the question?

These new MongoDB drivers conform to published specifications.

1. Server Selection - Deciding which server to send database operations to in a MongoDB deployment.

2. Server Discovery and Monitoring - All the logic required to make a MongoDB application highly available.

3. CRUD API - The API for how we Create, Read, Update and Delete data fr

[2015-07-22 17:39] ajdavis commented on #16
A driver that wraps the C Driver 1.2 gets 1, 2, and 4 for free. Your user
gives you a "mongodb://" URI that expresses all the options for connecting
to the server or servers, and the C driver does the rest including
authentication. You just need to implement #3 in terms of the C Driver's
mongoc_bulk_operation_t. See the mongorover code for guidance.

On Wednesday, July 22, 2015, Kevin Liu <notific

[2015-07-23 22:07] tenthdimension commented on #16
Thank you

[2015-07-25 02:50] tenthdimension commented on #16
Hi Jesse. So is this the only script I need to wrap? https://github.com/mongodb/mongo-c-driver/blob/master/src/mongoc/mongoc-bulk-operation.c

[2015-08-13 17:53] christopherjwang commented on #16
Kevin:
This is what the PHP (another driver that wraps the C driver) does. It was recommended to me to do the same. I wouldn't necessarily say that it is the *only* implementation you need to wrap, but I would bet it would be used in the majority of your use cases.

[2015-08-13 17:56] christopherjwang commented on #17
@tenthdimension Thanks

[2015-08-14 20:09] tenthdimension commented on #16
Hi @christopherjwang! Thanks for the advice.

[2015-09-24 17:03] dereckmartin opened #23 "ObjectId not a global variable"
I am using mongorover with Lapis Framework.  I am trying to track down an issue, but I can't tell if it is with Lapis or mongorover.

When I have Lapis in develoment mode (code_cache = "off"), mongorover runs fine.  However, when I run Lapis in production mode with code_cache = "on", I get 1 or 2 calls to mongodb before it stops working completely until lapis is restarted again.

I do get a stack

[2015-09-26 16:24] ajdavis commented on #23
The error is from here:

https://github.com/mongodb-labs/mongorover/blob/af406a985076d6fc8e9087dc307fa8884a387b60/c_wrapper/lua-object-generators.c#L36

I'm not at all familiar with Lapis and how its code cache works, however. @christopherjwang or @hawka do you know why mongorover's `lua_getglobal(L, "ObjectId")` call might fail in this scenario?

[2015-09-28 18:00] christopherjwang commented on #23
I'm not familiar with Lapis either. However, from a brief search on it, having the cache off forces mongorover to be loaded each time (which will instantiate the ObjectID global every time). When turning it off, it will somehow be cleaned such that this error actually occurs. I'll look into it.

I've been slowly un-populating the global space such that ObjectID, BSONNull, and other things are not

[2015-09-29 15:23] ajdavis commented on #23
Thanks Christopher!

On Monday, September 28, 2015, christopherjwang <notifications@github.com>
wrote:

[2015-10-01 02:14] dereckmartin commented on #23
@christopherjwang It is no problem.  I'm glad I could offer something of interest to investigate.  You are probably right about it being in the Global namespace.  Lapis is just a wrapper framework around openresty and the ngx_lua module, and they frown on globals.  After further reading, globals do not persist between requests when using ngx_lua.  I suspect when code_cache is turned on, the global

[2015-10-01 04:09] dereckmartin opened #24 "Question: Find documents by objectId"
I am trying to find documents by id. I couldn't find an example in the samples using an id except, in http://api.mongodb.org/lua/current/examples/delete_one.lua.html

[code]
I have no problem searching for a specific field like below:

[code]
However, finding a document by and objectID appears to return nil.

[code]
How should a query for an objectId be formatted?

[2015-10-01 04:20] dereckmartin commented on #24
I have sorted this out.

I was using the key string.  However, the id needs to be 'ObjectId("560b17a2adccb8347b447717")'.  I am pulling this ObjectId as a reference in another collection.  So I just store the whole _id object instead of the string representation it self.

[2015-10-01 04:20] #24 closed

[2015-10-01 06:42] ajdavis commented on #24
I'm glad you got it sorted out!

On Thursday, October 1, 2015, Dereck Martin <notifications@github.com>
wrote:

[2015-10-15 20:02] christopherjwang commented on #23
@dereckmartin pull requests coming in, will update you when they're complete!

[2015-10-27 14:01] christopherjwang commented on #23
@dereckmartin should be good to go if you install via github. Have to do a couple more things before putting up an update to luarocks. Let me know if you have any other issues!

[2015-11-20 06:15] jestan opened #32 "luaBSONObjects.lua is not loading inside a sandbox"
I am using mongorover with [heka](https://github.com/mozilla-services/heka)  and getting this error

[code]

the reason is luaBSONObjects is loaded using current directory

[code]

i think it suppose to be like this

[code]

after this change, it is working fine.

[2016-01-05 04:55] travisbell opened #33 "Replica set?"
Hi guys,

Does this driver support connecting to a replica set?

[2016-01-05 16:29] ajdavis commented on #33
Yes; mongorover uses the MongoDB C Driver to connect to MongoDB, and passes the connection string through to the C Driver. See the "Replica Set Example" here:

https://api.mongodb.org/c/current/mongoc_uri_t.html

[2016-01-05 16:29] #33 closed

[2016-01-05 16:30] travisbell commented on #33
Beautiful, thanks Jesse.

[2016-01-17 17:24] jestan opened #34 "Nested object is converted to an array if it has only one key value pair"
Lets say, you have following objects in db.products

[code]

[code]
result is { _id = "1", name = "prod", charging = {"free"}}

but for following it returns correct value

[code]

result is { _id = "1", name = "prod", charging = { type = "free", frequency = "monthly"}}

[2016-01-17 17:56] jestan commented on #34
Additional Info

lua -e "print(_VERSION)"
Lua 5.1

lua -e "print(require('mongorover')._VERSION)"
0.0.1

[2016-02-10 21:55] arthur-s commented on #23
I know the solution, look at https://github.com/openresty/lua-nginx-module/#init_by_lua
in nginx.conf write before `server` directive this:
[code]
this works for me when lua_code_cache is on

[2016-03-20 05:59] christopherjwang commented on #34
Hey! First off, sorry for the delayed response. I'm afraid I wasn't watching this repository (I am now though!).

I'm trying to reproduce your code issue on my end.

here's my mongo shell:
[code]

here's my issue_34.lua script used to try and reproduce your error. print_r is a function you can find [here](https://coronalabs.com/blog/2014/09/02/tutorial-printing-table-contents/)
[code]

and my outp

[2016-03-20 19:17] christopherjwang commented on #34
@jestan I misunderstood your problem, and I see what is happening. I think you meant the query should be this (with an _id of **1** instead of a **2**).

[code]

It's apparent in my print out above. I'll look into it. Thanks for the bug report.

[2016-03-20 20:14] christopherjwang commented on #34
@jestan [pull request](https://github.com/mongodb-labs/mongorover/pull/37) sent. Thanks again!

[2016-03-21 05:57] jestan commented on #34
@christopherjwang thanks for the fix.

[2016-03-21 05:57] #34 closed

[2016-04-05 17:06] TheGeminii opened #38 "MongoCollection.lua:75: unknown operator: $or"
Is the $or operator supported? and if so, can you give an example using it?
The  following query gives me the error from the title:
local query = {startDate = {["$lte"] = workingDate}, ["user._id"] = user._id, {["$or"] = {endDate = {["$gte"] = workingDate}, endDate = null}} }

[2016-04-20 08:21] ayulive opened #39 "find_one always return "batchSize value must be non-negative""
cursor = mongoc_collection_find(collection->c_collection,
                                    MONGOC_QUERY_NONE, 0, 0, -1,
                                    &query, &fields, NULL);

batch_size should be 1

[2016-05-23 10:41] corelgott opened #40 "How to build on Win7x64 VS2015"
Hi @ all,

I'm trying to build mongorover on Win7x64 with VS2015. Since cmake automatically uses the most current version of Vs installed I'm stuck with that.

I've successfully compiles the mongo-c driver as well having lua installed. But when I try to run `luarocks make` I get this:

`D:\temp\LuaMongo\mongorover>luarocks make LIBBSON_DIR=c:\mongo-c-driver LIBMONGOC_DIR=c:\mongo-c-driver
cl /nolo

[2016-05-29 21:25] yzubkov opened #41 "Aggregation example does not work"
When running the aggregation example (from the examples folder) I get the following error:

bson_append_array(): invalid array detected. first element of array parameter is not "0".

All other lua examples work just fine. I am using mongoc driver version 1.4.0-dev, which is currently master branch. I have also tried the aggregation example in pure C from [here](http://api.mongodb.com/c/1.2.3/aggre

[2016-06-05 22:43] ajdavis commented on #41
Hi, I can't reproduce this. I added some printfs to lua_table_to_bson and it appears to correctly generated indexes 0, 1, .... Have you changed nothing about the aggregation example code or the Lua driver source?

[2016-06-06 00:21] yzubkov commented on #41
I have just tried again and it definitely does not work for me. Maybe I can provide more clues. Here is the file that I am executing : [pastebin link](http://pastebin.com/fUwSACbc)
I have lua 5.3 and mongoc 1.4.0-dev. I am also on ARM CPU, if that makes a difference. When I execute the file linked above, I get the following output:

`ubuntu@arm:~/script$ ./mongotest.cgi
bson_append_array(): invali

[2016-06-06 02:32] christopherjwang commented on #41
Hey @yzubkov are you using Lua 5.3? If so, how did you end up installing mongorover? We haven't tested any type of support on 5.3. It's quite a bit different from 5.1 and 5.2.

[2016-06-06 03:07] christopherjwang commented on #38
Yes $or is supported. Sorry for a late reply. Lua is kind of weird when you start writing queries with mongo, be sure to write them correctly :). You're issue is embedding your "$or" too deeply in your query. You can clearly see it if you prettify your code:

[code]
To correct your query the way you wrote it, it would look like this (I ran it with dummy values and it is fine):
[code]

An example i

[2016-06-06 03:19] ajdavis commented on #41
OK, interesting. I've just built Lua 5.3 from source on Ubuntu 14.04, along with the latest luarocks, the C Driver 1.3.5, and mongorover from master. Now I see this output:
[code]
A couple questions for investigation:

1. First I had to add the line `local BSONNull = require("mongorover.luaBSONObjects.BSONNull")` to the top of `examples/aggregation.lua`. That's important, right? Is that not requir

[2016-06-06 03:35] christopherjwang commented on #41
1. I didn't update the examples when I made 2b8427521ce3e133f92c360dead23bc57d4cad90

Did you by chance make mongorover with cmake? This error gets thrown correctly for me regarding using lua 5.3 and install via luarocks (here's my console output).

[code]

I'd be happy to dig in, I just want to make sure we're all on the same page.

[2016-06-06 03:58] ajdavis commented on #41
Good point Chris. I had to delete the requirements line to build with luarocks and lua 5.3.

[2016-06-07 22:59] christopherjwang commented on #41
@yzubkov  This driver is simple enough that supporting 5.3 could be viable. I'll see what I can do, but I have no promises for you.

Thanks for hopping in @ajdavis !

[2016-06-12 13:27] ajdavis commented on #41
@yzubkov could you try the driver from the current master and see if it works for you now?

[2016-06-12 21:45] yzubkov commented on #41
Just tested our aggregation example under Lua5.3 and everything works great. Thank you AJ and Chris for getting this issue resolved. You guys rock!

[2016-06-12 21:52] #41 closed

[2016-07-13 10:05] priyaradhakrishnan0 opened #45 "How to do $elemMatch query on mongorover"
The collection anchors has the structure
{"anchor":some_anchor , pages ;[ {  "page_freq" : some_number,  "page_id" : some_number }]}

I want to query anchors db for pages with page_id = 321544

In mongo command prompt I give

With the mongorover, the following lua code gives exception

local client = mongorover.MongoClient.new("mongodb://"..dbIP..":"..dbPort)
AnchorDb = client:getDatabase("anchorD

[2016-07-13 17:38] christopherjwang commented on #45
whenever you have weird "keys" in lua, you put it in square brackets.

[code]

Try this:

[code]

While this isn't necessarily mongorover related, it is an interesting syntax of lua that really only comes out while writing mongodb queries. Let me know if it helps!

[2016-07-14 10:14] priyaradhakrishnan0 commented on #45
Hi,

Thanks for the prompt reply. It works!!

local results = anchors:find({["pages.page_id"] = 321544})

I have one more request. Can you add an example of

mongorover.MongoDatabase:command (command[, value], options)

in the documentation.

Thanks again,

Priya

On Wed, Jul 13, 2016 at 11:08 PM, Christopher Wang <notifications@github.com

[2016-07-14 10:37] #45 closed

[2016-07-14 17:10] christopherjwang commented on #45
@priyaradhakrishnan0 https://github.com/mongodb-labs/mongorover/blob/master/test/TestDatabase.lua#L80

[2016-07-15 04:41] priyaradhakrishnan0 commented on #45
Thanks a lot.
-priya

[2016-07-15 06:24] SkNix opened #46 "Implement "skip" and "limit""
Hello, great job, I would take a question.
In the example below, as I would use 'skip' and 'limit'?

`local results = exampleCollection:find({color = "blue"})
`

Grateful

[2016-07-16 02:15] ajdavis commented on #46
I don't think they're implemented, actually.

[2016-07-16 02:16] #17 closed

[2016-07-16 02:16] ajdavis commented on #23
Closing this because it sounds like it was resolved, please reopen if there are still issues.

[2016-07-16 02:16] #23 closed

[2016-07-16 02:16] #16 closed

[2016-07-16 20:13] christopherjwang commented on #46
I'll give it a whirl soon.

[2016-07-24 06:57] SimonFearby opened #47 "module 'mongo_module' not found:"
I was hoping this could work on lua for ARM app development using the http://www.coronalabs.com SDK but the following module is missing.

module 'mongo_module' not found:
    no field package.preload['mongo_module']

[2016-07-24 10:46] ajdavis commented on #47
Could you give me a complete bug report please? What steps did you follow to reach this point? Have you installed libbson, libmongoc, and mongorover?

[2016-07-26 01:53] kwesijc commented on #47
I have the same issues as well. I believe there suppose to be a lua file call 'mongo_module' but the actual mongo_module.lua file is missing.

[2016-07-26 03:00] christopherjwang commented on #47
@kwesijc: mongo_module created by compiling a .so from the c layer. Are you building anything whatsoever? Does coronalabs sdk have access to a luarocks build system? Give us some steps to help us reproduce your issue.

[2016-07-28 18:03] kwesijc commented on #47
Hi Chris,

Thanks you for your response. Answer to your questions below.

Are you building anything whatsoever?
- Yes. I am developing a mobile application. I was experimenting to see if I can use this with Corona SDK since the primary language is Lua.

Does coronalabs sdk have access to a luarocks build system?
- This is something I was trying to figure. Other developers I know and some on the fo

[2016-07-29 02:59] christopherjwang commented on #47
yes, we used to use CMake to compile mongorover c files, but deprecated it in favor of the LuaRocks build system.

I apologize if this came across harsh, I was trying to reference if you were attempting to use CMake (a.k.a. a "build" system). I'm happy to help if I can :).

@kwesijc + @SimonFearby: Do either of you have a [Corona Enterprise license](https://coronalabs.com/pricing/)? Only then can

[2016-07-29 19:42] kwesijc commented on #47
Hi Chris,

Thank you for your response. I am not knowledgable about CMake and how it really works. If you were to use CMake would that make the Mongorover module dependent on its own? In order words, would anyone be able to download the folder containing the files and start using it to connect to MongoDB using their own SDK or Lua based platform? Or would we still need dependency on CMake as we do

[2016-08-09 07:01] GobYang opened #55 "Does this support client pool?"
Excuse me, Does this support client pool?

[2016-08-09 12:01] ajdavis commented on #55
No it doesn't. The mongoc_client_pool_t is intended for multithreaded programs; are you using multithreading in Lua?

[2016-08-09 14:36] GobYang commented on #55
@ajdavis  Thank you very munch for answer my question.Because my english is not good. I want to describe I wondered thing.

I use mongorover's api and receive one request insert to mongodb. It's spend about 20 MS. But I use PHP only need about 10 MS.

So I want know mongorover is support connect pool? If every request need to connect mongodb.It's not good.

Do you have any advice?

Thank you very

[2016-08-09 15:41] ajdavis commented on #55
I see. Do this:
[code]
And use the *same* client for all operations. Only call `MongoClient.new` in your application. Then you will connect to MongoDB once, and reuse that connection.

[2016-08-09 15:41] #55 closed

[2016-08-22 10:01] christopherjwang commented on #47
Hey @SimonFearby @kwesijc. Sorry for the delays (I didn't get notified when @kwesijc edited the post above). I have another build system (CMake) up that we might be able to get things on Corona working. Before I move forward with this, can you confirm there still interest in making this happen?

[2016-08-22 16:29] kwesijc commented on #47
Hi Chris,

Thank you so much for your reply. Yes, we are still interest in making this happen. I have two questions.
Would this solution be independent or flexible to where is contains all the code and resources needed to run this with Corona? Or would we need CMake on our end to make this work with Corona?

In other words, when we compile our apps and publish them would the Mongorover code and re

[2016-08-23 07:51] christopherjwang commented on #47
You should just be able to add the plugin without any worries. All the compiling is the plugin developer's work (from what I can tell). Let me do some more reading and let me reach out to Corona and get more information before I give you false information.

Do you have a platform that you are looking to start out with?

[2016-08-23 10:40] kwesijc commented on #47
Hi Chris,

I will be working with Corona SDK. I have a trial of the Enterprise version. Corona labs granted me a limited trial version for the purposes of this. If you would like access to it please let me know. My email is kwesijc@gmail.com. I would share the credentials for the free trial version through my email.

[2016-08-24 06:27] christopherjwang commented on #47
I got a corona license for plugin developers (I get two months free). I'll give it a shot.

[2016-08-24 06:28] #39 closed

[2016-08-24 06:28] #46 closed

[2016-08-24 10:18] kwesijc commented on #47
Hi Chris,

Sounds good. Thank you so much for your time and effort your putting into this.

[2016-09-05 21:09] kwesijc commented on #47
Hi Chris,

Hope all is well. Just checking in on the Corona plugin. How is the progress? Does the plugin look doable?

[2016-09-06 17:11] christopherjwang commented on #47
I haven't made any substantial progress, I'll keep you up to date. I'm hoping to dedicate some time to it this week.

[2016-09-18 22:13] neoxic opened #57 "Lua 5.1 compiled with LUA_USE_APICHECK: assertion failed"
With Lua 5.1 compiled in development mode (-D LUA_USE_APICHECK) which is encouraged for module development, mongorover fails on openin with the following failed assertion:

[code]

Debugging it myself, I found that the stack is uncontrolled in `luaopen_mongo_module`. Please note the stack size control policy here: http://www.lua.org/manual/5.1/manual.html#3.2
It also seems odd to me that the 20 de

[2016-09-18 22:18] neoxic commented on #57
I must also note that I observe many repetitive compilation warnings on my system (Archlinux) such as:

[code]

[code]

[code]

This makes one kind of suspicious of other hidden faults. :-)

[2016-09-18 22:27] neoxic opened #58 "Compilation fails when building with CMake on a 64-bit Linux"
Please consider the following output:

[code]

What's the purpose behind forcing a 32-bit build in `CMakeLists.txt` with `-m32` flags?

[2016-09-27 09:49] wubin19896817 opened #59 "Implement DateTime functionality"

[2016-09-30 06:41] christopherjwang commented on #59
Hey there. Great question.

I'm assuming you want to use find with sort.
Since mongorover is a wrapper around the C driver, to use sort with find you need to use the $query syntax. You can find that in the [c documentation](http://mongoc.org/libmongoc/current/mongoc_collection_find.html). I should probably update that in the mongorover documentation, since it isn't very clear and is a bit roundabo

[2016-09-30 06:46] wubin19896817 commented on #59
ok, thanks  very much..and sort and skip how to use both. Thank you very much..because I have some problem in you project. like how to use bson time.... It throw no use for bson time

[2016-09-30 07:04] christopherjwang commented on #59
You want to build from source to use this. If you've downloaded mongorover from luarocks, that doesn't have the skip functionality. You can find out how to build from source in the README.

[code]

This would just print out:

[code]

As for your [error](https://github.com/mongodb-labs/mongorover/blob/master/c_wrapper/lua-bson.c#L707), it isn't supported yet. I can implement it for you in a couple

[2016-09-30 07:05] wubin19896817 commented on #59
greate, if you have much time

[2016-09-30 07:05] wubin19896817 commented on #59
thanks very much

[2016-09-30 07:55] wubin19896817 commented on #59
sorry to disturb you again. how to use like  range_mongo={_id=1,status=1} mix the query...id = 1 mean select this column, 0 mean no select

[2016-09-30 08:21] christopherjwang commented on #59
take a look [here](http://api.mongodb.com/lua/current/examples/find.lua.html#).

[code]

the second argument, `{_id = false, color = true}`, means that I only want the color field back and not the _id.

The line you're looking for is this one. You can find more information about "projection" [here](https://docs.mongodb.com/manual/tutorial/project-fields-from-query-results/).

[2016-09-30 08:29] wubin19896817 commented on #59
collection:find({['$query']={{username= "miaopai"}},  ['$orderby'] = {_id = 1}})
this one? it donest work.

[2016-09-30 08:39] christopherjwang commented on #59
Ah. Break it down.

Your code:
[code]

Has a bug in the query `{{username= "miaopai"}}`. It should be `{username= "miaopai"}`

Back to your question...

I'm going to break down your line of code (after fixing the query bug):

[code]

So you're sorting by _id from your $orderby statement.

If you want to only get the id back, you want to use the second parameter to `find` to have a filter.

[code]

[2016-10-04 07:25] christopherjwang commented on #59
@wubin19896817 if you are still interested, you can find some functionality [here](https://github.com/mongodb-labs/mongorover/blob/master/test%2FTestCollection.lua#L64). Let me know if it works out for you!

[2016-10-04 07:25] #59 closed

[2016-10-04 07:32] christopherjwang commented on #58
Hey @neoxic,

Sorry for a late reply. We're only really supporting Lua 5.2 and 5.1 (as stated in README). Lua 5.3 was added as a [request](https://github.com/mongodb-labs/mongorover/issues/41), but I'm afraid I'm not fully committed to supporting it yet. It looks like your stdout shows:
`Found Lua: /usr/lib64/liblua5.1.so`. If you have Lua 5.1, as far as I'm concerned that can't be 64 bit. I'll be

[2016-10-04 07:33] christopherjwang commented on #58
Changing the directory output for CMake is to emulate that of LuaRocks. I'm afraid it isn't ideal in your case, but when someone really wants to compile mongorover with some other stuff I'll be happy to address that. If you're trying to do just that, let's talk.

[2016-10-04 07:38] christopherjwang commented on #57
I'll try to reproduce your `LUA_USE_APICHECK` hopefully soon. As to the compile warnings, they should be addressed. Feel free to make a PR. I'm pretty sure it's just sticking a bunch of `const`s before input parameter types. I could be completely wrong though.

[2016-10-04 07:39] #38 closed

[2016-10-04 07:43] christopherjwang commented on #57
It would expedite the process if you posted a snippet of code that causes the error in your first comment. Thanks.

[2016-10-04 08:41] neoxic commented on #57
No code snippet required. Just compile Lua 5.1 with LUA_USE_APICHECK enabled and then try to run your tests.

[2016-10-04 09:12] neoxic commented on #58
Chris, I personally fail to see how you connect two unrelated issues together and "solve" them by enforcing a 32-bit build.

First, it seems that Corona (I'm not familiar with that thing) might be 32-bit itself and therefore it fails to load the module compiled in a 64-bit system by default. There's no problem to externally compile your module into a 32-bit library. Using CMake one can achieve tha

[2016-10-08 02:59] wubin19896817 commented on #59
hello, can I use in function in you project
like that
{"status":"{\"$in\": [TIMER,PROGRESS,INVALID,FINISHED,FAILED]}

[2016-10-08 04:57] christopherjwang commented on #59
see #38

[2016-10-08 05:16] wubin19896817 commented on #59
thank you。。。only have or not in？

[2016-10-08 05:50] christopherjwang commented on #59
I'd take a look [here](https://docs.mongodb.com/manual/reference/operator/query/) first. You can use the same syntax as the example in #38 for the most part.

not in would be `$nin`.

I'm not sure what else you're asking for, unfortunately. Please elaborate on your questions from here on out to get better responses.

[2016-10-10 02:48] wubin19896817 commented on #59
hello, I have the last question。。。 could I use the objectID function to generate the object id？ I want to find({'rid': ObjectId(rid)}) this

[2016-10-10 06:49] christopherjwang commented on #59
Yes!

[code]

my output:

[code]

[2016-10-10 06:55] wubin19896817 commented on #59
I meant if I have  "rid" : ObjectId("578450592b8a68027b8ec65a") 578450592b8a68027b8ec65a. How I change it to ObjectId. How I search the objectId which has the value 578450592b8a68027b8ec65a

[2016-10-10 06:55] wubin19896817 commented on #59
thanks for your answer.

[2016-10-10 07:00] christopherjwang commented on #59
This is how you would make an ObjectId with a string
[code]

[2016-10-10 07:02] wubin19896817 commented on #59
thank you....you are so kind

[2016-10-10 07:03] christopherjwang commented on #59
Of course. Could I ask what you're working on with Lua and MongoDB?

[2016-10-10 07:05] wubin19896817 commented on #59
our project..Could you add my qq 1508649213.... I will send you

[2016-10-12 18:18] CriztianiX opened #61 "are there support for openresty?"
This library support openresty, non-blocking, co-soscket?

[2016-11-29 21:01] TDycks opened #63 "LuaRocks Install Compiler Errors Visual Studio 2010"
Successfully build and installed the Mongo C Driver v1.3.5 to the C:\libmongoc Directory of my Windows 10 PC using the GitHub documentation on the Mongo Driver website.

When attempting to install mongorover via LuaRocks pointing to my libmongoc and libbson directories I get the following error:

C:\Storage\lua\rocks>**luarocks install mongorover LIBBSON_DIR=C:/libmongoc LIBMONGOC_DIR=C:/libmongoc

[2016-11-30 07:10] christopherjwang commented on #61
I'm sorry, I don't believe this will support that.

[2016-11-30 07:24] christopherjwang commented on #63
Thanks for all the information. It makes my job a lot easier.

You found a long standing bug...
[lua_checkstack doesn't return a char *](https://github.com/mongodb-labs/mongorover/blob/b69c1ec61c26222571eec0554e7bc14d604361da/c_wrapper/mongo-module.c#L24)... That probably isn't even used, and is removed in master.

The other errors are because I declared variables after assigning others [here](htt

[2016-11-30 07:36] christopherjwang commented on #47
Hi all. I feel really embarrassed leaving you both hanging. I hit some hard obstacles and didn't continue on. I was told to contact someone on the forums that goes by the handle StarCrunch for guidance, and I just did. I'm going to do that and see if there's a transition we can do to have this on Corona SDK. mongorover is kind of weird because it has a C component and a lua component (hybrid compo

[2016-11-30 18:09] TDycks commented on #63
Thanks Christopher for the quick response;This is a bit of an experiment for me as I am looking to use a scripting language other than Python for accessing MongoDB.  Love the clean and simple syntax that Lua offers.  I'm a bit of a newbie with C Program, but I've built a few other products from source on my Linux box and on this box using Cygwin, so I will give that a try after reading up on Windo

[2016-11-30 19:22] TDycks commented on #63
One follow question RE: Mongo C Driver Version's.  I installed C Driver Version 1.3.5 to match the version of the C Driver on my CentOs 6.7 box.  Does building the current source for mongorover require a newer version of the Mongo C Driver.  I am hoping to use mongorover on both the 2.6 and 3.2 versions of Mongo DB that I having installed on this Windows PC.

Thanks; TD

[2016-11-30 21:49] TDycks commented on #63
Here's the attempt to run CMake while trying to point to my Visual Studio 2010 Environment:

C:\Storage\lua\builds>"C:\Program Files (x86)\Microsoft Visual Studio 10.0\VC\vcvarsall.bat"
Setting environment for using Microsoft Visual Studio 2010 x86 tools.

C:\Storage\lua\builds>cd mongorover-master

C:\Storage\lua\builds\mongorover-master>cd build

C:\Storage\lua\builds\mongorover-master\build>cma

[2016-12-01 02:41] TDycks commented on #63
Learned that using the -G switch allows me to specify which version of Visual Studio's VC Environment.  So I now have the following pkgconfig fine issue linking in the previously built libmongoc library when using the following CMake command:

C:\Storage\lua\builds\mongorover-master\build>**cmake -G "Visual Studio 10 2010" ..
**
-- The C compiler identification is MSVC 16.0.40219.1
-- Check for wo

[2016-12-01 08:57] christopherjwang commented on #63
Thanks for the info. I'm still in the process of getting my windows box setup. I've installed VS 2010, and will try to get that up and running for you. To build libbson and libmongoc I'm assuming you installed visual studio 2010, cmake, and some type of openssl library. Am I missing anything there? I've never really built anything on Windows, so I have some research and setup required here.

No, i

[2016-12-02 08:09] malexzx opened #64 "pool support"
one nice feature - mongo pool as must have be in mongorover.
it might be a simple implemented for short lived lua sessions for example. (while gc on destroy - return
connection to back to pool). Does any known issues, that this idea won't work, or maybe hard to implemented on that way?
I'm may be try to implement this feature (since it may be needed me in production).

[2016-12-02 21:35] ajdavis commented on #64
Can you tell me more about your idea? I think the C Driver's mongoc_client_pool_t is useful only for multithreaded applications. A single-threaded application can just use one mongoc_client_t for all operations. But I don't know much about Lua so perhaps your idea is useful.

[2016-12-03 05:51] malexzx commented on #64
Hello @ajdavis !
In my case short lived lua scripts is executed in multiple threads (web server with lua handle requests   by lua for example). For this purpose first of all, we need init a pool by providing mongo url (may be outside lua code or by lazy technique). Then pool may be used per query execution, i.e. get client from pool for execute query then return back to pool. Another proposed use

[2016-12-03 15:26] ajdavis commented on #64
Sounds interesting, and it resembles how the new PHP driver does connection pooling. Let me dig up some documentation about that....

[2016-12-04 01:09] malexzx commented on #64
Thank you for pointing me about PHP. http://php.net/manual/en/mongo.connecting.pools.php is said, that now pooling is not used. I'm try to investigate now why that needs.

[2016-12-08 07:54] christopherjwang commented on #63
@TDycks Did you install the c driver on windows with ssl? I'm having issues finding sources / compiling libsasl2.

[2016-12-08 16:08] TDycks commented on #63
Hello Christopher;

It appears that I did.  Similar finding no libsasl2 modules built. These are the steps I took to build the Mongo C Driver (Bolded the CMake Command where I attempted to enable SSL):

git clone https://github.com/mongodb/mongo-c-driver.git
cd mongo-c-driver
git checkout 1.3.5 # for your specific release
git submodule init
git submodule update # libbson is a submodule
cd src\libb

[2016-12-13 07:40] christopherjwang commented on #63
Alright, I'm finally up and running on a windows box and have the issues that you've run into in your initial issue. Sorry for the delays. This has been quite the journey.

We are trying to install the older c driver `1.3.5` with the newer instructions `1.5.0`. In the documentation, it mentions that they now have native windows SSL. Since it won't be much help if it doesn't work, I'll probably ref

[2016-12-13 09:50] christopherjwang commented on #63
https://github.com/mongodb-labs/mongorover/tree/christopherjwang/windows_compiling

I have it compiling and running :tada: (but without authentication). I only have VS 2010 installed and the Windows SDK 7.1.

![working_no_auth_mongorover_windows](https://cloud.githubusercontent.com/assets/4838266/21135214/eef8319a-c0d5-11e6-8e59-8e8c583a1d37.PNG)

I believe all I need to do now is compile the C dr

[2016-12-13 18:46] TDycks commented on #63
HiChristopher; sounds great!  Look forward to your write-up.  If I get the driver working on my Windows 10 laptop, I will try to set it up on my Windows 7 PC as well and will report on my findings.  Thanks for your efforts,   TD

[2016-12-14 07:55] christopherjwang commented on #63
Okay, steps I took to do this:

1. Installed Windows 7 on a fresh box
2. Installed Visual Studio Express 2010. I found the .iso [here](http://stackoverflow.com/questions/3061811/how-to-get-download-link-to-vs2010-express-for-use-in-a-download-manager), as VS Express has now become Visual Studio Community and Community is apparently slightly different.
3. Installed [Windows SDK v7.1](https://www.mi

[2016-12-15 05:14] christopherjwang commented on #40
@corelgott  Half a year late, but I got this working for VS 2010 in #63 . Are you still interested? I can probably help you out now.

[2016-12-15 18:15] TDycks commented on #63
Thanks Christopher;
I have a Win7 Pro x64 Laptop as well; so I will use the detailed steps you provided above to build the Mongo C Driver and Lua mongorover module, since that matches your Win build environment.  Will report on findings.  Best Regards; TD

[2016-12-15 23:53] TDycks commented on #63
Hi Christopher;
Following the detailed steps you provided on my Windows 7 x64 laptop, I now have built the mongorover-0.1.1 using the mongo-c-driver-1.5.0 version driver.  One additional detail for the sake of anyone installing the Visual Studio 2010 VC++ Environment and are using multiple newer versions of Visual Studio C++ Environment (I had VS 2013 installed as well) :

Install the SP1 Update f

[2016-12-15 23:59] christopherjwang commented on #63
That's good to hear. Let me know if you run into any more issues. If you do try it on Windows 10, will you let me know your results?

Thanks for the extra step, I'll update the instructions.

[2016-12-15 23:59] #63 closed

[2016-12-16 00:16] TDycks commented on #63
From the Lua Interpreter, I am able to successfully run the following require commands after firing up the Mongod.exe Daemon from my Mongo 2.6 installation ...

C:\Storage\lua\rocks\mongorover-master\test>lua
Lua 5.1.5  Copyright (C) 1994-2012 Lua.org, PUC-Rio

However, when I attempt the require of 'TestClient', I get the following errors ...

C:\Storage\lua\rocks\mongorover-master\test>lua
Lua 5

[2016-12-16 00:26] christopherjwang commented on #63
are you running [mongod with auth](https://docs.mongodb.com/v2.6/tutorial/enable-authentication/)?

You also need to set up a user and password. Instructions in [readme](https://github.com/mongodb-labs/mongorover#testing)

[2016-12-16 00:41] TDycks commented on #63
Thanks Christopher;
Nope; was running Mongo sans the security configuration, Forgot a about the .pem file setup for SSH.  My apologies.  Appreciate all your effort and tutorials on this.  Just tested the find program in the examples and things are working A-Okay.  On to the Windows 10 configuration.  Many Thanks.  TD

[2016-12-16 03:35] christopherjwang commented on #63
Glad I could help. Thanks for bringing up the issue.

[2016-12-19 13:20] prabhakar-pal opened #77 "Unknown yield error in lua 5.1"
Whenever we invoke mongorover calls from lua 5.1, we are receiving "Unknown yield" error

[2016-12-20 01:59] christopherjwang commented on #77
Can you give me more information?

Are you installing from source or from luarocks?
What environment are you running on?
What version of the C driver did you install?
Can you run tests whatsover?
Do you have a code snippet that can show me how and why this fails? Stacktraces would be nice too.

[2016-12-20 08:44] prabhakar-pal commented on #77
Hello Chris,

I am using Luajit with Lua version 5.1. My intention was to integrate
OpenResty-Kong with MongoDB. For this, I am using Mongorover.

To recreate this issue, all iI need to do is to import ("require") the
mongorover module. After this, whenever I make any REST call to Kong, i get
the "Unknown Yield" error message.

Regarding unit testing, after this change, I am able to make the mongo

[2016-12-20 11:56] prabhakar-pal commented on #77
Hello Chris,

I need to figure out a way to recreate the issue in a standalone manner.
But please note that the change that I suggested is as per the
Lua c-wrapper interface. I suspect the stack is corrupted if we don't
follow the interface and this is manifesting in a weird manner in arbitrary
locations.

regards,
Prabhakar

On Tue, Dec 20, 2016 at 2:14 PM, Prabhakar Palanivel <
prabhakar.palaniv

[2017-03-14 07:23] rickysland opened #79 "batch_size issues"
find_one in the old version(26 Aug 2015):
    cursor = mongoc_collection_find (collection->c_collection,
                                     MONGOC_QUERY_NONE, 0, 0, -1,
                                     &query, &fields, NULL);
batch_size is -1。

And now it's reuse find function to  make find_one:
        function MongoCollection:find_one(query, fields, options)
                options = optio

[2017-03-31 07:59] christopherjwang commented on #79
Hey @rickysland,
It looks like using a negative batch size is ["analogous to using the limit method"](https://docs.mongodb.com/manual/reference/method/cursor.batchSize/#cursor.batchSize). In this case, I feel like it makes more sense to just use limit, as it can easily be reasoned what the limit parameter will do (opposed to a negative batch size).

Am I missing something?

[2017-04-19 04:31] hololoev opened #80 "mongorover/MongoCollection.lua:137: value at index 3 is not a table"
The issue is in current master. Luarocks version is ok.

Code:

local config = require('libs.config')
local MongoClient = require("mongorover.MongoClient")
local luaBSONObjects = require("mongorover.luaBSONObjects")
local _client = MongoClient.new(config.mongo.url)
local _database = _client:getDatabase(config.mongo.db)
local _websites = _database:getCollection('sites')
local _data = _websites:find

[2017-04-19 10:05] hololoev commented on #80
Sorry guys. It's a mistake. Problem was in my centos.

[2017-04-19 10:08] #80 closed

[2017-05-16 12:03] rickysland commented on #79
In the  old version(26 Aug 2015): batch_size is -1, that mean find_one operation. db server only return 1 result.

But now, although limit is 1, batch_size also is the default value(100?), that mean db server will return batch_size results in find_one operation.

[2017-07-04 02:07] bhhbazinga opened #81 "coredump in lua-mongoc-collection.c:236"
#0  0x0000000000003ac6 in ?? ()
#1  0x00007f4e1ba944ea in lua_mongo_collection_update (L=0x7f4e223e1c68)
    at /home/bhhbazinga/gdmj_engine/3rd/mongorover/c_wrapper/lua-mongoc-collection.c:236
#2  0x00000000004139b4 in luaD_precall (L=0x7f4e223e1c68, func=0x7f4e12c685f0, nresults=1) at ldo.c:434
#3  0x000000000041fa77 in luaV_execute (L=0x7f4e223e1c68) at lvm.c:1146
#4  0x0000000000413c7f in luaD

[2017-07-04 02:15] christopherjwang commented on #81
Do you have code that will reproduce this issue?

[2017-07-30 06:39] nepaul opened #82 "not support Lua5.3"

[2017-08-03 17:10] christopherjwang commented on #82
hey @nepaul! Can you try installing from source? I made it compatible in #42, which hasn't made it to luarocks just yet.

[2017-10-26 12:57] stennie opened #83 "Add detectable LICENSE file"
According to source code comments this project is licensed under Apache License, Version 2.0.

Adding a detectable `LICENSE` file would make this more evident.

[2017-10-27 18:38] #83 closed

[2018-06-05 18:35] italomaia opened #84 "Please, update?"
Lua could benefit from a up-to-date mongodb driver greatly.

[2018-06-06 14:43] ajdavis commented on #84
Hi, I'm sorry to say we don't have any staff allocated to this project at MongoDB. Are you interested in contributing?

[2018-06-06 18:38] italomaia commented on #84
Actually, I am. Lua community has seem some growth with web development tools and a strong database library would do wonders to the ecosystem. How can I help?

[2018-06-06 18:47] ajdavis commented on #84
Great, let me know what features you're missing and offer some pull requests for them.

[2018-06-06 21:42] italomaia commented on #84
This would probably be a good start: https://github.com/mongodb/specifications/blob/master/source/crud/crud.rst

[2018-06-06 23:32] ajdavis commented on #84
Sounds good. I don't know Lua, which is why I'm not maintaining this now that the author has moved to a different company. But I'm happy to review your pull requests to the best of my ability and to merge them.